

<%- include('../includes/admin/adminHead') %>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Requests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if(orders){ %>
        <% orders.forEach((item)=>{ %>
          <%if(item.cancelRequested === true){%>
            <a style="color: black;text-decoration: none;" href="/AdminOrderDetails/<%=item._id%>">
              <div class="border-bottom p-2">
                <%=item.orderId%> <span class="text-warning">(Cancel Request)</span> 
              </div>
            </a>
            <% }%>
        <%})%>
        <% }%>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


 <!--notification bell icon-->
 





<div class="container   container1 d-flex justify-content-between">
  <h3>ORDERS</h3>
  <div style="cursor: pointer;position: relative;" class=" modal-opener d-flex" 
 data-bs-toggle="modal" data-bs-target="#exampleModal">
  <% orders.forEach((item)=>{%>
    <% if(item.cancelRequested === true){%>
      <div style="position: absolute;height: 10px;width: 10px;" class="rounded-circle bg-danger ">
    
      </div>
      <%}%>
  <%})%>
  <i style="font-size: x-large;" class="fas fa-bell"></i>
</div>
</div>
<div class="container container1 pt-5 pb-5 border mb-5">
  
  <table id="tableProduct" class="table p-1 table-striped table-content">
    
    <thead>
      
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Phone No</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Status</th>
        <th scope="col">Ordered Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach((item)=>{%>
      <tr>
        <td style="text-transform: capitalize;"><%= item.user.firstname%> <%= item.user.lastname%></td>
        <td><%=item.user.phone%></td>
        <td><%=item.totalQuantity%></td>
        <td><%=item.grandTotal%></td>
        <td><%=item.orderStatus%></td>
        <td><%=String(item.orderedAt).split(' ').slice(0, 4).join(' ')%></td>
        <td class="d-flex">
          <a href="/AdminOrderDetails/<%=item._id%>">
              <i class="fa-solid fa-circle-info ms-3"></i></a></i>
        </td>
      </tr>
      <% }); %>
    </tbody>

  </table>
  
</div>
</div>




<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
<script>
  new DataTable('#tableProduct', {
              responsive: true
          });
  </script>
<%- include('../includes/admin/adminEnd') %>
