

<%- include('../includes/admin/adminHead.ejs') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">




<div class="container mt-5 mb-5">
  <h3>EDIT PRODUCTS</h3>
</div>
<div class="container border p-5">
  <h4><%= error %></h4>
  <form id="form" action="/editProduct/<%= data._id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="mb-3 me-2">
          <label for="productName" enctype="multipart/form-data" class="form-label">Product Name</label>
          <input value="<%= data.productName%>" type="text" class="form-control p-4" id="productName" name="productName" placeholder="Name of the Product" />
          <div class="mt-1">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="mb-3">
          <label for="productPrice" class="form-label">Price</label>
          <input value="<%= data.productPrice %>" class="form-control p-4" id="Price" name="productPrice" placeholder="Price of the Product" />
          <div class="mt-1">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="mb-3">
          <label for="userType" class="form-label">Category</label>
          <select class="form-select p-3" id="userType" name="category">
            <% catData.forEach(function(item) { %>
              <% if(item._id.equals(data.category)) { %>
                <!-- If data.category matches item._id, set option as selected -->
                <option selected value="<%= item._id %>">
                  <%= item.categoryName %>
                </option>
              <% } else { %>
                <!-- Otherwise, generate a regular option -->
                <option value="<%= item._id %>">
                  <%= item.categoryName %>
                </option>
              <% } %>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="mb-3">
          <label for="userType" class="form-label">User Type</label>
          <select class="form-select p-3" id="userType" name="userType">
            <option <%= data.userType === 'male' ? 'selected' : '' %> value="male">Male</option>
            <option <%= data.userType === 'female' ? 'selected' : '' %> value="female">Female</option>
            <option value="unisex">Unisex</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="mb-3 me-2">
          <label for="productDescription" class="form-label">Description</label>
          <textarea class="form-control" id="Description" name="productDescription" placeholder="Description"><%= data.description %></textarea>
          <div class="mt-1">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="mb-3 me-2">
          <label for="productName" enctype="multipart/form-data" class="form-label">Color</label>
          <input value="<%= data.color%>" type="text" class="form-control p-4" id="color" name="color" placeholder="Color" />
          <div class="mt-1">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="mb-3 me-2">
          <div>
            <label for="">Available Sizes</label>
          </div>
          <div class="d-flex mt-4" id="parent">
            <div>
              <input type="checkbox" value="S" name="Sizes" class="btn-check sizes-tag" id="small-S" autocomplete="off" />
              <label for="small-S" class="btn btn-outline-primary ms-2">S</label>
            </div>
            <div class="ms-3">
              <input type="checkbox" value="M" name="Sizes" class="btn-check sizes-tag" id="medium-M" autocomplete="off" />
              <label for="medium-M" class="btn btn-outline-primary ms-2">M</label>
            </div>
            <div class="ms-3">
              <input type="checkbox" value="L" name="Sizes" class="btn-check sizes-tag" id="large-L" autocomplete="off" />
              <label for="large-L" class="btn btn-outline-primary ms-2">L</label>
            </div>
            <div class="ms-3">
              <input type="checkbox" value="XL" name="Sizes" class="btn-check sizes-tag" id="extra-large-XL" autocomplete="off" />
              <label for="extra-large-XL" class="btn btn-outline-primary ms-2">XL</label>
            </div>
            <div class="ms-3">
              <input type="checkbox" value="XXL" name="Sizes" class="btn-check sizes-tag" id="XXL" autocomplete="off" />
              <label for="XXL" class="btn btn-outline-primary ms-2">XXL</label>
            </div>
          </div>
          <div class="mt-1">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="mb-3">
          <label for="productPrice" class="form-label">Quantity</label>
          <input value="<%= data.quantity %>" type="number" class="form-control p-4" id="Quantity" name="Quantity" placeholder="Quantity of the Product" />
          <div class="mt-0">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <div class="mb-3 " id="photoParent">
          <label for="productPhoto" class="form-label">Upload Photo</label>
          <input value="<%= data.image %>" type="file" class="form-control" id="photoProduct" name="productPhoto" multiple onchange="displaySelectedImages(this)"/>
          <div class="mt-1">
            <p style="font-size: small; color: red" class="warn"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      
        <div style="width: fit-content;" class="col d-flex p-2" id="previewImage">
          <!-- <div class="me-2">
            <img style="max-width: 120px;max-height: 100px;" src="/categoryImg/1707679484892afsal.png" alt="">
            <p>dfhgaj</p>
          </div>
          <div class="me-2">
            <img style="max-width: 120px;max-height: 100px;" src="/categoryImg/1707679484892afsal.png" alt="">
            <p>dfhgaj</p>
          </div> -->
        </div>
        <div class="col d-flex p-2" id="imagePreviewSelected">

        </div>
      
      <!-- <button id="deletebtn" style="display: none;" class="btn btn-danger btn-sm ms-auto mt-3" type="button" onclick="clearSelectedImages()">Clear Selection</button> -->
    </div>
    <div class="row">
      <div  class="col-md-12 d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary">Make Changes</button>
      </div>
    </div>
  </form>
</div>















<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script>

let existingSizes = "<%= data.sizes %>";
const inputSizes = document.getElementsByName('Sizes');
let sizes = existingSizes.split(",");
console.log(sizes);
inputSizes.forEach((checkbox)=>{
  if(sizes.includes(checkbox.value)){
    checkbox.checked = true;
  }else{
    checkbox.checked = false;
  }
});

const image = '<%=data.image %>';
const imageArray = image.split(",");
const imagePreview = document.getElementById('previewImage');
const file = document.getElementById('photoProduct');

imageArray.forEach((element)=>{
  const imageContainer = document.createElement('div');
  imageContainer.classList.add('me-2');
  const imageElement = document.createElement('img');
  imageElement.setAttribute('src',`/productImg/${element}`);
  imageElement.style.cssText = 'max-width: 120px;height: 100px';
  const imageName = document.createElement('p');
  imageName.style.cssText = 'max-width: 120px;overflow : hidden';
  imageName.textContent = element;

  const deleteBtn = document.createElement('button');
          deleteBtn.setAttribute('type','button');
          deleteBtn.textContent = 'Delete';
          deleteBtn.classList.add('btn','btn-danger','btn-sm' ,'ms-auto');
          deleteBtn.onclick = function() {
            console.log(element);
          // Handle deletion here
          deleteImage(element);
          // Remove image container from DOM
          imageContainer.remove();
        };
  imageContainer.append(imageElement);
  imageContainer.append(imageName);
  imageContainer.appendChild(deleteBtn);
  imagePreview.append(imageContainer);
});

let allFiles = [];
let cropper;

function displaySelectedImages(input) {
    const container = document.getElementById('imagePreviewSelected');
    if (input.files) {
      const files = Array.from(input.files);
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();
  
        reader.onload = function(e) {
          const imageContainer = document.createElement('div');
          imageContainer.classList.add('me-1');
          imageContainer.setAttribute('id','content-div');
          const img = document.createElement('img');
          img.src = e.target.result;
          img.style.cssText = 'max-width: 120px;height: 100px';
          img.classList.add('selected-image');


          const p_tag = document.createElement('p');
          p_tag.style.cssText = 'max-width: 120px;overflow : hidden'
          p_tag.textContent = file.name;

          const deleteBtn = document.createElement('button');
          deleteBtn.classList.add('btn','btn-primary','btn-sm','ms-auto');
          deleteBtn.innerText = 'cancel';
          deleteBtn.addEventListener('click',(e)=>{
            e.preventDefault();
            clearSelectedImages(file,imageContainer);
          })

          const cropBtn = document.createElement("button");
        cropBtn.innerText = 'crop'
        cropBtn.classList.add("btn", "btn-primary", "btn-sm","ms-3");
        cropBtn.addEventListener("click", (e) => {
          e.preventDefault();
          cropImage(img, file,imageContainer,cropBtn,deleteBtn);
        });

          imageContainer.appendChild(img);
          imageContainer.appendChild(p_tag);
          imageContainer.appendChild(deleteBtn);
          imageContainer.appendChild(cropBtn);
          container.appendChild(imageContainer);
        };


        allFiles.push(file);
        reader.readAsDataURL(file);
        const dataTransfer = new DataTransfer();
      for (let i = 0; i < allFiles.length; i++) {
        dataTransfer.items.add(allFiles[i]);
      }
      input.files = dataTransfer.files;
      }
    }
  }
  
  function clearSelectedImages(file, imageContainer) {
  const input = document.getElementById("photoProduct");
  const container = document.getElementById("selectedImagesContainer");

  // Remove the file from the allFiles array
  const index = allFiles.indexOf(file);
  if (index !== -1) {
    allFiles.splice(index, 1);
  }

  // Update the file input with the remaining files
  const dataTransfer = new DataTransfer();
  for (let i = 0; i < allFiles.length; i++) {
    dataTransfer.items.add(allFiles[i]);
  }
  input.files = dataTransfer.files;
  // Remove the image container
  imageContainer.remove();
}


let id = "<%= data._id %>";
function deleteImage(imageName){
  
  fetch(`http://localhost:7000/deleteProductPrevImg/${id}?_method=PATCH`,{

    method:'POST',
    headers : {
        'content-type' : 'application/json',

      },
      body : JSON.stringify({
        filename : imageName
      })



  })

}




function cropImage(img, file,imageContainer,cropBtn,deleteBtn) {
  if (cropper) {
    cropper.destroy();
  }

  cropper = new Cropper(img, {
    aspectRatio: 1,
    viewMode: 1,
    crop(event) {
      // add cropping event handling here if needed
    },
  });

  const cancelBtn = document.createElement("button");
  const saveBtn = document.createElement("button");
  const cancelCroppedImageBtn = document.createElement("button");
  cancelCroppedImageBtn.classList.add("btn", "btn-primary", "btn-sm", "ms-3");
  cancelCroppedImageBtn.innerText = "Cancel Image"

  saveBtn.classList.add("btn", "btn-primary", "btn-sm", "ms-3");
  saveBtn.innerText = "Save";
  saveBtn.addEventListener("click", (e) => {
    e.preventDefault()
    const canvas = cropper.getCroppedCanvas();
    canvas.toBlob((blob) => {
      const croppedFile = new File([blob], file.name, {
        type: 'image/jpeg',
        lastModified: Date.now(),
      });
      const croppedImg = document.createElement("img");
      croppedImg.style.cssText = "max-width: 120px;height: 100px";
      
      // Set the cropped canvas data URL as the source for the new image element
      croppedImg.src = canvas.toDataURL();

      // Remove the original image from the container
      img.remove();

      imageContainer.appendChild(croppedImg);
      imageContainer.appendChild(cancelCroppedImageBtn);
      

      // Update the input files
      allFiles.push(croppedFile);

      cancelCroppedImageBtn.addEventListener('click',(e)=>{
      const input = document.getElementById("photoProduct");
        e.preventDefault();
       const index =  allFiles.indexOf(croppedFile);
       allFiles.splice(index,1);
       const dataTransfer = new DataTransfer();
        for (let i = 0; i < allFiles.length; i++) {
          dataTransfer.items.add(allFiles[i]);
        }
        input.files = dataTransfer.files;
        imageContainer.remove()
      })


      updateInputFiles(file);
      cropper.destroy();
      saveBtn.style.display = 'none'
      cancelBtn.style.display = 'none'
      cropBtn.style.display = 'none'
      deleteBtn.style.display = 'none'
    }, 'image/jpeg');
  });

  cancelBtn.classList.add("btn", "btn-secondary", "btn-sm", "ms-3");
  cancelBtn.innerText = "Cancel croping";
  cancelBtn.addEventListener("click", (e) => {
    e.preventDefault()
    cropper.destroy();
    cancelBtn.style.display = 'none'
    saveBtn.style.display = 'none'
  });

  
  imageContainer.appendChild(cancelBtn);
  imageContainer.appendChild(saveBtn);
}


function updateInputFiles(file) {
  const input = document.getElementById("photoProduct");
  const index =  allFiles.indexOf(file);
  allFiles.splice(index,1);
  const dataTransfer = new DataTransfer();
  for (let i = 0; i < allFiles.length; i++) {
    dataTransfer.items.add(allFiles[i]);
  }
  input.files = dataTransfer.files;
}

</script>
<script src="/scripts/validation/editProductV.js"></script>
<%- include('../includes/admin/adminEnd') %>