<%- include('../includes/usersPartials/userHead.ejs') %>

<style>
  .container-main{
    margin-top: 7%;
    
  }
  .list {
    list-style-type:none;
    line-height: 60px;
    align-items: center;
  }
 .a-tag{
  text-decoration: none;
  color: black;
 }
 .drop-content-div:hover{
  background-color: rgb(245, 245, 245);
 }

</style>

<div class="container-fluid px-5 container-main  mb-5">
  <div class="container-fluid d-flex justify-content-between ms-4 mb-3">
    <div>
      <i class="fa-solid fa-bag-shopping"><span class="ms-2">Shop</span></i>
    </div>
    <div class="form-group col-md-6 ">
      <input class="form-control rounded-0 py-2" type="search"  id="example-search-input" placeholder="search">
    </div> 
  </div>
  <div class="row">
    <div  class="col-md-3 col-sm-3 col-xs-3">
      <div style="position: static;" class="p-2">
       <div class="drop mb-1">
        <div class="btn shadow-sm   d-flex justify-content-between list border border-2 " > 
          <div>
            <i  style="color: #b04fff;" class="fa-solid fa-layer-group"><strong  style="color: black;" class="ms-4">Categories</strong> </i>
           </div>
           <i class="fa-solid fa-circle-chevron-down"></i>
          </div>
          <div style="display: none;" class="border shadow-sm border-2 drop-content mt-1 p-3">
            <% category.forEach((category) => { %>
              
              <div class="form-check">
                <input class="form-check-input filter-box" type="checkbox" id="<%= category.categoryName %>" value="<%= category._id %>">
                <label style="font-size: large;text-transform: capitalize;" class="form-check-label" for="<%= category.categoryName %>"><%= category.categoryName %></label>
              </div>
           
            <% }) %>
          </div>
          
        </div>



        <div class="drop mb-1">
          <div class="btn shadow-sm   d-flex justify-content-between list border border-2 " > 
          <div>
            <i  style="color: #b04fff;" class="fa-solid fa-sort"><strong  style="color: black;" class="ms-4">Sorted By</strong></i>
          </div>
          <i  class="fa-solid fa-circle-chevron-down"></i>
          </div>
          <div id="price-sort-options" style="display: none;" class="border shadow-sm  border-2 drop-content mt-1 p-3">
             
            <!-- <div class="form-check">
              <input class="form-check-input " type="checkbox" id="1" value="popularity">
              <label style="font-size: large;" class="form-check-label" for="1">Popularity</label>
            </div>

            <div class="form-check">
              <input class="form-check-input " type="checkbox" id="2" value="new arrivals">
              <label style="font-size: large;" class="form-check-label" for="2">New Arrivals</label>
            </div> -->


            <div class="form-check">
              <input class="form-check-input sort-box" type="checkbox" id="3" value="low to high">
              <label style="font-size: large;" class="form-check-label" for="3">₹ Low to High</label>
            </div>

            <div class="form-check">
              <input class="form-check-input sort-box" type="checkbox" id="4" value="high to low">
              <label style="font-size: large;" class="form-check-label" for="4">₹ High to Low</label>
            </div>

          </div>
        </div>           
        <div class="drop mb-1">
          <div class="btn shadow-sm   d-flex justify-content-between list border border-2 " > 
            <div>
            <i  style="color: #b04fff;" class="fa-solid fa-palette"><strong  style="color: black;" class="ms-4">Colors</strong></i>
           </div>
           <i class="fa-solid fa-circle-chevron-down"></i>
          </div>
          <div style="display: none;" class="border shadow-sm  border-2 drop-content mt-1 p-3">
            
            <div class="form-check d-flex align-items-center justify-content-between">
              <input class="form-check-input color-box" type="checkbox" id="blue" value="blue">
              <label style="font-size: large;" class="form-check-label" for="blue">Blue</label>
              <i style="color: rgb(0, 0, 199);" class="fa-solid fa-circle"></i>
            </div>


            <div class="form-check d-flex align-items-center justify-content-between">
              <input class="form-check-input color-box" type="checkbox" id="red" value="red">
              <label style="font-size: large;" class="form-check-label" for="red">Red</label>
              <i style="color: rgb(202, 0, 0);" class="fa-solid fa-circle"></i>
            </div>

            <div class="form-check d-flex align-items-center justify-content-between">
              <input class="form-check-input color-box" type="checkbox" id="yellow" value="yellow">
             
                <label style="font-size: large;" class="form-check-label" for="yellow">Yellow</label>
                  
                <i style="color: rgb(218, 218, 0);" class="fa-solid fa-circle"></i>
                
             
            </div>

            <div class="form-check d-flex align-items-center justify-content-between">
              <input class="form-check-input color-box" type="checkbox" id="green" value="green">
             
                <label style="font-size: large;" class="form-check-label" for="green">Green</label>
                  
                <i style="color: rgb(15, 133, 0);" class="fa-solid fa-circle"></i>
                
             
            </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <div class="row isotope-grid productList">
        <% allProducts.forEach((item)=>{ %>
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
          <!-- Block2 -->
          <div class="block2">
            <div style="max-height: 350px;" class="block2-pic hov-img0">
              <a href="/productDetail/<%= item._id %>">
              <img src="/productImg/<%= item.image[0]%>" alt="IMG-PRODUCT">
            </a>
            </div>
  
            <div class="block2-txt flex-w flex-t p-t-14">
              <div class="block2-txt-child1 flex-col-l ">
                <a  class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                  <%= item.productName %>
                </a>
  
                <span class="stext-105 cl3">
                  ₹<%= item.productPrice%>
                  
                </span>
              </div>
              <div class="block2-txt-child2 flex-r p-t-3">
                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                  <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
                  <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
                </a>
              </div>
            </div>
          </div>
        </div>
        <%});%>
          </div>
          <ul class="pagination d-flex mb-5 justify-content-center" >
            <% if (pagination.currentPage > 1) { %>
                <li  class="page-item"><a href="?page=<%= pagination.currentPage - 1 %>&limit=<%= pagination.limit %>" class="page-link">&laquo;</a></li>
            <% } %>
            
            <% for (let i = 1; i <= pagination.totalPages; i++) { %>
                <li class="page-item <%= i === pagination.currentPage ? 'active' : '' %>">
                    <a href="?page=<%= i %>&limit=<%= pagination.limit %>" class="page-link"><%= i %></a>
                </li>
            <% } %>
            
            <% if (pagination.currentPage < pagination.totalPages) { %>
                <li class="page-item"><a href="?page=<%= pagination.currentPage + 1 %>&limit=<%= pagination.limit %>" class="page-link">&raquo;</a></li>
            <% } %>
          </ul>
    </div>

  </div>
</div>


<script src="/scripts/shopScripts/shopPageFetch.js"></script>

<script>
const category = document.querySelectorAll('.drop');
category.forEach((element)=>{
  element.addEventListener('click',(e)=>{
    e.stopPropagation();
  const content = element.querySelector('.drop-content');
  if(content.style.display === 'block'){
    content.style.display = 'none';
  }else{
    content.style.display = 'block';

  }
  

})
});
</script>

<%- include('../includes/usersPartials/userEnd.ejs') %>