


<%- include('../includes/usersPartials/userHead.ejs') %>
<style>
 
    /*userprofile styles*/
.container-main{
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      margin-top: 6%;
    }
   .list{
    list-style-type: none;
   }

   .list-container{
    width: 40%;
    background-color: rgb(176, 177, 129);
    margin-left: -15px;
   }
    .list div:hover {
      background-color: rgba(0, 0, 0, 0.1); 
      margin-left: -25px;
      transition: .5s;
      cursor: pointer;
    }
    .list a{
      text-decoration: none;
      color: black;
      font-size: larger;
    }
.details-container{
  width: 100%;
  height: fit-content;
}
.profile-content p{
  line-height: 50px;
}
.list-phone{
    list-style-type: none;
   }
   
    .list-phone div:hover {
      background-color: rgba(231, 231, 231, 0.1); 
      margin-left: -25px;
      transition: .5s;
      cursor: pointer;
    }
    .list-phone a{
      text-decoration: none;
      color: black;
      font-size: larger;
    }  
    .button-phone{
      width: fit-content;
      cursor: pointer;
      position: absolute;
      display: none;
      top: 20px;
      left: 20px;
    }

    @media (max-width : 768px){
      .list-container{
        display: none;
      }
      .button-phone{
        display: block;
      }
      .offcanvas{
        display: block !important;
      }
    }

    /* end of userprofile */
    .btn:focus{
      box-shadow: none;
      outline: none;
      border:none;

    }
</style>
<div style="display: none;" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div  class="list-container-phone p-2">
      <ul class="list-phone">
        <strong>
       <a href=""><div class=" mt-5 p-2 border-bottom"><li>Profile</li></div></a> 
       <a href=""><div class=" mt-5 p-2 border-bottom"><li><li>Wallet</li></div></a> 
       <a href=""><div class=" mt-5 p-2 border-bottom"><li>Coupon</li></div></a> 
       <a href=""><div class=" mt-5 p-2 border-bottom"><li>My Orders</li></div></a> 
      </strong>
      </ul>
    </div>
  </div>
</div>
<div class="container container-main d-flex mb-5">
  <div  class=" list-container p-2 ">
    <ul class="list">
      <strong>
        <a href=""><div class=" mt-5 p-2"><li>Profile</li></div></a>
        <a href=""><div class=" mt-5 p-2"><li><li>Wallet</li></div></a>
        <a href=""><div class=" mt-5 p-2"><li>Coupon</li></div></a>
        <a href=""><div class=" mt-5 p-2"><li>My Orders</li></div></a>
      </strong>
     
    </ul>
  </div>
  <div style="position: relative;" class="details-container">
    <div class="border rounded border-2 p-2 button-phone"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
      <i style="font-size: x-large;" class="fa-solid fa-bars"></i>
    </div>
    <div class="d-flex justify-content-center ">
      <div class="mt-5">
        <div class="d-flex justify-content-center">
          <i style="font-size: 500%;" class="fa-regular fa-user"></i>
        </div>
        <div class="details-nav mt-3">
          <h1>My Profile</h1>
        </div>
      </div>
    </div>
    <div class="profile-content mt-4 ms-5">
      <p><strong>User Name : <%= userInfo.firstname%> <%= userInfo.lastname%></strong></p>
      <p><strong>Email : <%= userInfo.email%> </strong></p>
      <p><strong>Phone Number : <%= userInfo.phone%> </strong></p>
      <p><strong>Address :-  </strong></p>
      <div class="row me-3">
        <% userAddress.forEach((data) => { %>     
          <div style="width: fit-content;box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
          " class="border rounded-3 p-3 col-md-6 mt-3">
              <p style="font-size: large;line-height: 5px;">
                <%= data.address %>,
                <%= data.locality %>,
                </p>
              <p style="font-size: large;" >
                <%= data.city %>(city),
                <%= data.district %>(dist),
                <%= data.state %>(state),
                <%= data.postalcode %>(Pin),
                <%= data.phone %>(PH).
              </p>
              <div class="d-flex justify-content-between">
                <form id="radioForm" action="/setPrimary/<%=data._id%>?_method=PATCH&userId=<%= data.userId %>" method="post">
                <div style="cursor: pointer;" class="d-flex justify-content-start">
                  <input   id="radio" style="width: 10px;" type="radio" <%= data.isPrimary ? 'checked' : '' %>><p class="ms-1">Primary</p>
                </div>
              </form>
                <div  class="d-flex justify-content-end">
                    <form id="form-delete" style="display: block;" action="/deleteAddress/<%= data._id %>?_method=DELETE&userId=<%= data.userId %>" method="post">
                      <button class="btn text-danger mt-2 btn-delete">Delete</button>
                    </form>
                  <a href="/editAddress/<%= data._id %>?userId=<%= data.userId%>">
                    <p>Edit</p>
                  </a>
                </div>
              </div>
              
          </div>
          <%}) %>
      </div>
      
    </div>
    <div class="d-flex m-5 justify-content-end">
      <a href="/addAddress/<%=userInfo._id%>">
        <button style="background-color: #b04fff;" class="btn text-white ms px-4" type="button">Add Address</button>
      </a>
      <a href="/editProfile/<%= userInfo._id%>">
        <button style="background-color: #b04fff;" class="btn text-white ms px-4 ms-4" type="button">Edit Profile</button>
      </a>
      
    </div>
  </div>
</div>
<script>
const radioForms = document.querySelectorAll('#radioForm');
radioForms.forEach(form => {
    const radioButton = form.querySelector('#radio');
  if(!radioButton.checked){
    radioButton.addEventListener('click', () => {
      form.submit();
});
}
    
});

const deleteForms = document.querySelectorAll('#form-delete');
deleteForms.forEach((form) => {
  const button = form.querySelector('.btn-delete');
  button.addEventListener('click', async (e) => {
    e.preventDefault();
    await Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Delete"
    }).then((result) => {
      if (result.isConfirmed) {
        form.submit(); 
      }
    });
  });
});

      
  
  
    
  
</script>
<%- include('../includes/usersPartials/userEnd.ejs') %>